# Node modules (backend)
backend/node_modules/

#Node modules (frontend)
frontend/node_modules/

# Build folders (React)
frontend/build/

# Build folder (if server builds something)
backend/build/

# Env files
backend/.env
frontend/.env

# Logs
*.log

# system files
Thumbs.db